*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-small{
    font-size: small;
}
.font-medium{
    font-size: medium;
}
.font-large{
    font-size: large;
}
.font-x-large{
    font-size: x-large;
}
.font-xx-large{
    font-size: xx-large;
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}
x-bold{
    font-weight: 1000;
}
xx-bold{
    font-weight: 1500;
}
.underline{
    text-decoration: underline;
}
.strike{
    text-decoration: line-through;
}
.italic{
    font-style: italic;
}
.white-font-25{
    color: #ababab;
}
.white-font-50{
    color: #d3d3d3;
}
.white-font-75{
    color: #eee;
}
.white-font-100{
    color: #fff;
}
.black-font-25{
    color: #616161;
}
.black-font-50{
    color: #454545;
}
.black-font-75{
    color: #121212;
}
.black-font-100{
    color: #000;
}
.default{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.plugIn-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
