input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],  
textarea{
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none !important;
    display: block;
    padding: 10px;
}
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,  
textarea{
    border: 1px solid dodgerblue; 
    box-shadow: 0px 0px 2px 1px dodgerblue;
}
input[type=button],
input[type=submit],
input[type=reset],
button{
    outline: none !important;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
}
input[type=color]{
    outline: none !important;
    border: 1px solid #eee;
    background-color: #eee;
    cursor: pointer;
}
input[type=button]:hover, input[type=button]:focus,
input[type=submit]:hover, input[type=submit]:focus,
input[type=reset]:hover, input[type=reset]:focus,
button:hover, button:focus{
    /* opacity: 0.7; */
}
.no-resize{
    resize: none;
}
.resize-x{
    resize: horizontal;
}
.resize-y{
    resize: vertical;
}
.resize-xy{
    resize: both;
}
 