*{
    transition: 0.3s ease;
}
*:hover, *:focus{
    transition: 0.3s ease;
}
.webLogoTxt{
    display: block;
}
.webuilogo{
    font-size: x-large;
}
.webLogoTxt{

}
.uiLogoTxt{
    font-weight: 500;
    color: dodgerblue;
}