*{
    transition: 0.3s ease;
    scroll-behavior: smooth 1s;
}
*:hover, *:focus{
    transition: 0.3s ease;
}
.webLogoTxt{
    display: block;
}
.webuilogo{
    font-size: x-large;
}
.webLogoTxt{

}
.uiLogoTxt{
    font-weight: 500;
    color: dodgerblue;
}
*::-webkit-scrollbar{
    width: 7px;
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb{
    background-color: #ababab;
    border-radius: 20px;
}
*::-webkit-scrollbar-track{
    background-color: #ffffff00;
    visibility: hidden;
}