.floating-button{
    position: fixed;
    padding: 10px;
    box-shadow: 0px 0px 3px 0.15px;
}
.nav{
    display: block;
    padding: 10px;
    top: 0;
    width: 100%;
}
.fixed-nav{
    position: fixed;
}
.absolute-nav{
    position: absolute;
}
.realtive-nav{
    position: relative;
    
}
.lm-bordered-nav{
    border: 1px solid #eee;
}
.dm-bordered-nav{
    border: 1px solid #454545;
}
.lm-floating-nav{
    box-shadow: 0px 0px 5px 0.2px #eee;
}
.dm-floating-nav{
    box-shadow: 0px 0px 3px 0.15px 3;
}
.nav-items{
    text-decoration: none;
    font-size: small;
}
.notification{
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    width: fit-content;
    margin: 10px;
    border: 1px solid #eee;
}
.top-left-notify{
    position: fixed;
    top: 0;
    left: 0;
}
.top-right-notify{
    position: fixed;
    top: 0;
    right: 0;
}
.bottom-left-notify{
    position: fixed;
    bottom: 0;
    left: 0;
}
.bottom-left-notify{
    position: fixed;
    bottom: 0;
    right: 0;
}
.floating-notification{
    box-shadow: 5px 5px 3px 0.1px #eee;
}
.modal{
    border-radius: 10px;
    position: fixed;
    top: 20%;
    display: block;
    justify-self: center;
    align-self: center;
    background-color: #fefefe;
    left: 50%;
    border: 1px solid #eee;
}
.floating-modal{
    box-shadow: 0px 0px 3px 2px #eee;
}
.modal-25pc{
    width: 25%;
    margin-left:calc(-25% /2);
}
.modal-50pc{
    width: 50%;
    margin-left:calc(-50% /2);
}
.modal-75pc{
    width: 75%;
    margin-left:calc(-75% /2);
}
.modal-100pc{
    width: 100%;
    margin-left:calc(-100% /2);
}
.link{
    text-decoration: underline;
    color: dodgerblue;
}
.h1{
    font-size: xx-large;
}
.h2{
    font-size: x-large;
}
.h3{
    font-size: large;
}
.h4{
    font-size: medium;
}
.h5{
    font-size: small;
}
.h6{
    font-size: small;
}
.h7{
    font-size: xx-small;
}