:root{
    --white-0: #ababab;
    --white-25: #d3d3d3;
    --white-50: #eeeeee;
    --white-75: #f1f1f1;
    --white-100: #fff;
    --black-0: #ababab;
    --black-25: #454545;
    --black-50: #121212;
    --black-100: #000;
}